@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Reem+Kufi+Fun:wght@500&family=Roboto&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
  transition: all 0.5s ease-in-out;
}
#container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  height: 24px;
  width: 240px;
  padding-left: 10px;
}

button {
  font-size: 16px;
  cursor: pointer;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: #ffffff;
  height: 40px;
  width: 160px;
}


.text {
  display: flex;
  justify-self: flex-start;
  padding: 60px;
  font-size: 0.9em;
}
.gradient {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to right,
    rgb(218, 218, 218),
    rgb(108, 172, 255)
  );
  max-width: 40%;
}

.form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f3f3f3;
}

#form-p1 {
  justify-self: flex-start;
  margin: 10px;
}

#form-p2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  background-color: #ffffff;
}

#form-p3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 20px;
  padding: 50px;
  padding-top: 26px;
}

.form-field {
  display: flex;

  flex-direction: column;
  gap: 10px;
}
.form-field-container {
  display: flex;
  
  flex-wrap: wrap;
  justify-content: space-around;

  margin-right: 80px;
  gap: 30px;
}

.fields-global-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}

@media (max-width: 600px) {
  #container {
    flex-direction: column;
    justify-content: normal;
  }
  .gradient {
    width: 100%;
    height: 20vh;
    
    max-width: 100%;
  }


  .form {
    width: 100vw;
    height: 40vh;
    justify-content: normal;
  }

  #form-p2 {
    align-items: center;
  }

  .fields-global-container {
    justify-content: center;
  }

  .form-field-container {
    margin: 10px;
  }

  #form-p3 {
  
    align-items: center;
  
   
  }
}